$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background: url('../images/curiosity-wheel.jpg') center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  color: yellow;
}

.btn {
  position: relative;
  top: 130px;
  background: url(../images/60percent-transparent.png);
  border-color: yellow;
  color: yellow;
}

.rover-section {
  position: relative;
  top: 35px;
}

.rover-photo {
  width: 100%;
  height: auto;
}

.main-buttons {
  width: 250px;
  margin: auto;
  margin-bottom: 50px;
}

.main-buttons a {
  text-decoration: none;
  color: yellow;
}

#curiosityHist, #opportunityHist {
  visibility: hidden;
}

.light-body {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: yellow;
  margin: 10px;
  padding: 10px;
}

.about-section {
  position: relative;
  top: 30px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.navbar-header{
  background-color: #FF833D;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: black;
  font: 900 30pt/.5  'Titillium Web', sans-serif;
  font-size: 30pt;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  position: relative;
  top: 100px;
  background: url(../images/60percent-transparent.png);
  text-align: center;
  //border: 1px solid yellow;
  border-radius: 5px;
  border: 1px solid yellow;
  font-family: 'Titillium Web', sans-serif;
  font-size: 53px;

  a {
    color: yellow;
    text-decoration: none;
  }
}

.home-button {
  position: relative;
  top: -100px;
  width: 60px;
  margin: auto;

  a {
    color: yellow;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.panel-heading {
  background: url(../images/60percent-transparent.png);
}

.panel-title {
  color: yellow;
  a {
    text-decoration: none;
  }
}

.rover-view-title {
  height: 50px;
  background: url(../images/60percent-transparent.png);
  border-radius: 5px;
  border: 1px solid yellow;
  margin-bottom: 10px;

  h2 {
    position: absolute;
    top: -15px;
    left: 10px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

footer {
  position: fixed;
  bottom: 5px;
  left: 20px;
  color: #FFAD30;

  h4 {
    border-top: 1px solid #FFAD30;
    font-size: 12pt;
    padding-top: 5px;
  }
}
