<div class="jumbotron">
  <h1><a href="#/about">RoverTrak</a></h1>
</div>

  <div class="main-buttons">
    <div class="btn-group btn-group" role="group">
      <button type="button" class="btn btn-default" role="button"><a ng-href="#/roverView/curiosity">Curiosity</a></button>
      <button type="button" class="btn btn-default" role="button"><a ng-href="#/roverView/opportunity">Opportunity</a></button>
      <button type="button" class="btn btn-default" role="button"><a ng-href="#/roverView/spirit">Spirit</a></button>
    </div>
  </div>
